body{
	color: #000000;
	background: url(fondo4.jpg) repeat #000000;
	line-height: 19px;


}

#main {
	width: 100%;
  height: 160px;
	margin: 0px auto;
	background-color: #73106C;
  border-radius: 50px;
  opacity: 0.95;
      filter: alpha(opacity=20);
}


/* ENCABEZADO */
#buttons{
		 height: 40px;
		 margin-left: 10px;
		 background: #A0136D;
		 text-decoration: none;
		 border-radius: 15px;


	 }

	 #buttons a {

		 font-family: sans-serif;
		 font-size: 20px;
		 display: block;
		 float: left;
		 text-decoration: none;
		 color: black;
		 text-align: center;
		 padding-top: 10px;
		 height: 30px;
		 border-radius: 3px;

	 }
	 .but {
 width: 103px;
}

#buttons .but:hover {
background-color: white;
opacity: 0.3;

 }


	/*FORMULARIO*/
	.contacto{
	    border: 1px solid purple;
	    border-radius: 30px;
	    padding: 45px 45px 20px;
	    margin-top: 20px;
	    background-color: white;
	    box-shadow: 0px 5px 10px #73106C, 0 0 0 10px #73106C inset;
			opacity: 0.9;

	}
	.contacto label{
	    display: block;
	    font-weight: bold;


	}
	.contacto div{
	    margin-bottom: 15px;
			margin-left: 480px;
	}
	.contacto input[type='text'], .contacto textarea{
	    padding: 7px 6px;
	    width: 294px;
	    margin: 5px 0;
	}
	.contacto input[type='text']:focus, .contacto textarea:focus{
	    outline: none;
	    box-shadow:0 0 0 3px #dde9ec;
	}
	.contacto input[type='submit']{
	    box-shadow:0 0 0 3px #EEF5F7;
	    padding: 8px 16px;
	    border-radius: 30px;
	    font-weight: bold;
	    text-shadow: 1px 1px 0px white;
	    background: #e4f1f6;
	    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
	}
	.contacto input[type='submit']:hover{
	    background: #edfcff;
	    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
	}
	.contacto input[type='submit']:active{
	    background: #cfe6ef;
	    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
	}


/* PIE DE LA PAGINA */

#footer{
	height: 75px;
	font-size: 15px;
	color: white;
  display: block;
  background-color: #A0136D;
  border-radius: 20px;
	text-align: center;
	padding: 27px 0px 0px 0px;
  font-family: monospace;
  opacity: 0.95;
      filter: alpha(opacity=20);


}

#footer a{
	color: white;
  display: block;
	font-size: 15px;
  font-family:inherit;
	text-decoration: none;
}
