body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(fondo4.jpg) repeat #000000;
	line-height: 19px;
}

#main {
	width: 100%;
  height: 200px;
	margin: 0px auto;
	background-color: black;
}



/* ENCABEZADO */

 #buttons{

    	height: 50px;
    	margin-left: 0px;
      background: purple;
      text-decoration: none;
      border-radius: 10px;

    }

    #buttons a {

    	font-family: sans-serif;
    	font-size: 20px;
    	display: block;
    	float: left;
    	text-decoration: none;
    	color: black;
    	text-align: center;
    	padding-top: 10px;
    	height: 40px;
      border-radius: 3px;
    }
    .but {
	width: 103px;
}

#buttons .but:hover {
 background-color: white;
 opacity: 0.3;

	}


/* GALERIA PERSONALIZADA */
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    transform-style: preserve-3d;
    animation: rotation 45s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 90%;
    height: 78%;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(200px);}
#carousel figure:nth-child(2){ transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3){ transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4){ transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5){ transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6){ transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7){ transform: rotateY(240deg) translateZ(288px);}
#carousel img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
    width: 90%;
}
#carousel img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}
@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

/* FIN DE GALERIA */


#content{
	width: 100%;
	background: #DFDDDD;
}


.cont_home {
padding: 0px 20px 0px 20px;}

.home_box {
	float: left;
	width: 298px; }




.text{
	padding: 0px 0px 15px 0px;
}

.img_l {	float:left;
		margin: 6px 20px 5px 0px;
}

.img_r {	float: right;
		margin: 9px 10px 3px 10px;
}

.span_cont {	color: #262626;
	font-size:12px;
	font-weight:bold;
}

 H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: 100;
	color: #04078E;
	text-align: left;
	padding: 10px 0px 0px 0px;
}


.read_l {
	font-size:12px;
	color: #ffffff;
	text-decoration: none;
	padding-right: 2px;
	background: url(images/read.jpg) left top no-repeat;
	display:block;
	height: 17px;
	line-height: 17px;
	width: 66px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	float: left;

}

.read_l:hover {
	font-size:12px;
	text-decoration: underline;
}

.next {
	width: 100%;
	text-align: right;
	padding: 0px 0px 0px 0px;}

	.next a{
	color:#FFFFFF;
	text-decoration: none; }

.next a:hover {
	text-decoration: underline; }



#right{
	float: right;
	width: 293px;
	margin-right: 20px;
}

.span_dat {
	color: #262626;
	text-decoration: underline;
	font-weight: bold;}

.input_txt {
	width: 239px;
	border: none;
	background: url(images/input_txt.png) left top no-repeat;
	padding: 5px 10px 7px 10px;
	color:#000000;
	float: right;
}
.text_area {
	width: 319px;
	height:60px;
	border: none;
	background: url(images/text_area.png) 0px 0px no-repeat;
	padding: 5px 10px 7px 10px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
.submit {
	background:url(images/read.jpg) right 7px no-repeat;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 8px 6px 3px 0px;
	font-size:12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
	width: 66px;
	margin: 0px 0px 0px 0px;
}


.spis_bot {
	list-style:none;
	padding: 0px 0px 0px 0px;}

.spis_bot li {
	padding: 5px 0px 0px 18px;
	background: url(images/fish2.png) 0px 14px no-repeat;
	}

.spis_bot a {
	color:#262626;
	text-decoration:none;
	font-weight: 100;
	background: url(images/spis_bot_a.gif) bottom repeat-x;
	display: block;}
.spis_bot a:hover {
	text-decoration: none;
	}

.fu_i {
	padding: 0px 14px 0px 0px;
	vertical-align: middle ;
}

#footer{
	height: 63px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	padding: 27px 0px 0px 0px;
	background: url(images/footer.jpg) 0px 15px no-repeat;
}

#footer a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
