
.row {
	padding: 0px 0px 0px 20px;
	height: 273px;
}

.box_img2 {
	width: 272px;
	height: 273px;
	background: url(images/box_img.jpg) 0px 0px no-repeat;
	padding: 0px 20px 0px 20px;
	float:left;
	color: #FFFFFF;
}

.box_razd {
	width: 19px;
	height: 50px;
	float: left;
}

.box_img2 h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: 100;
	color: #74DBFE;
	text-align: left;
	padding: 15px 0px 15px 0px;
}

.rol_over:hover {

background:url(images/rol_over_galery.png) left top no-repeat;
}
